.Footer {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.Footer div {
  width: 25%;
  text-align: left;
}


.Social{
  display:flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
@media (max-width: 1315px){
  .Social{
    width: 140%;
  }
}