.App {
  text-align: center;
}




.App-header {
  /* background-color: #282c34; */
  min-height: 10vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  justify-content: flex-end;
  color: white;
}



